.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-weight: 300;
    background: url(./background.jpg);
    top: 0;
    left: 0;
}

.header {
    padding: 20px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2em;
    font-size: 16px;
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.settings {
    width: 500px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  border: 1px solid #FFF;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 30px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.dialog-text {
  text-align: center;
}

.dialog-img {
  width: 100%;
}

.dialog-img-container {
  width: 200px;
  height: 200px;
  margin: auto;
}
